In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('dados_exercicios.xlsx')
df

   eixo_x  eixo_y  classe
0    1.16    7.04       0
1    7.21    7.55       1
2    2.36    8.76       0
3    4.31    6.81       1
4    0.41    9.49       0
5    6.09    6.91       1
6    4.96    7.72       1
7    5.20    8.93       1
8    2.35    8.65       0
9    2.77    9.00       0

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [11]:
X = df.loc[:, df.columns != 'classe']
y = df['classe']

In [31]:
 X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=.7, random_state=0, stratify=y)

In [32]:
for k in range(1, 8, 2):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
    predicts = knn.predict(X_test)
    print(f'Accuracy for k = {k}: {accuracy_score(y_test, predicts)*100}')

Accuracy for k = 1: 100.0
Accuracy for k = 3: 100.0
Accuracy for k = 5: 100.0
Accuracy for k = 7: 33.33333333333333