In [83]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [111]:
df = pd.read_csv('expectativa-completo.csv')

In [112]:
df.head()

  Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020",
0  Aruba,"ABW","Life expectancy at birth, total (...
1  Africa Eastern and Southern,"AFE","Life expect...
2  Afghanistan,"AFG","Life expectancy at birth, t...
3  Africa Western and Central,"AFW","Life expecta...
4  Angola,"AGO","Life expectancy at birth, total ...

In [33]:
df = df.drop(columns=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], axis=1)

In [37]:
df = df.loc[:, ~(df.isna().sum() > 70)]

In [38]:
df

,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,NaN,NaN,NaN,4.054634e+08,4.876025e+08,5.964236e+08,6.953044e+08,7.648871e+08,8.721387e+08,9.584632e+08,...,2.549721e+09,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN
1,1.597575e+11,1.460219e+11,1.304398e+11,1.470252e+11,1.797395e+11,1.890033e+11,1.945434e+11,2.123361e+11,2.207637e+11,2.202188e+11,...,9.433782e+11,9.505214e+11,9.642424e+11,9.848071e+11,9.199300e+11,8.733549e+11,9.853557e+11,1.012853e+12,1.009910e+12,9.207923e+11
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10
3,1.381152e+11,1.142627e+11,1.165073e+11,1.074975e+11,1.103218e+11,1.089435e+11,1.017688e+11,1.218022e+11,1.174570e+11,1.182823e+11,...,6.709626e+11,7.275714e+11,8.207876e+11,8.649666e+11,7.607297e+11,6.905430e+11,6.837416e+11,7.416916e+11,7.945725e+11,7.845876e+11
4,5.787824e+09,6.135166e+09,7.558613e+09,7.076794e+09,8.089279e+09,8.775116e+09,1.020792e+10,1.123628e+10,NaN,NaN,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,8.941719e+10,5.837598e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.341737e+09,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09
262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.647119e+09,5.930370e+09,6.463650e+09,...,3.272642e+10,3.540134e+10,4.041524e+10,4.322859e+10,4.244510e+10,3.131737e+10,2.684013e+10,2.160614e+10,NaN,NaN
263,8.741585e+10,7.734409e+10,5.908264e+10,6.752160e+10,8.857370e+10,9.517664e+10,9.903086e+10,1.155523e+11,1.239434e+11,1.345452e+11,...,4.582015e+11,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.048421e+11,3.879346e+11,3.354421e+11
264,3.216308e+09,2.739444e+09,2.281258e+09,1.661949e+09,2.269895e+09,3.713614e+09,3.998638e+09,3.285217e+09,3.378882e+09,3.181922e+09,...,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10
265,7.764067e+09,6.352126e+09,5.637259e+09,6.217524e+09,6.741215e+09,7.814784e+09,8.286323e+09,8.783817e+09,8.641482e+09,6.751472e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10

In [39]:
df.isna().sum()

1983    70
1984    69
1985    67
1986    65
1987    61
1988    56
1989    56
1990    41
1991    46
1992    42
1993    39
1994    35
1995    26
1996    26
1997    26
1998    24
1999    23
2000    19
2001    18
2002    13
2003    13
2004    13
2005    13
2006    12
2007    12
2008    11
2009    11
2010    10
2011     8
2012     9
2013     8
2014     8
2015     9
2016    10
2017    10
2018    10
2019    13
2020    24
dtype: int64

In [50]:
df.dtypes

1983    float64
1984    float64
1985    float64
1986    float64
1987    float64
1988    float64
1989    float64
1990    float64
1991    float64
1992    float64
1993    float64
1994    float64
1995    float64
1996    float64
1997    float64
1998    float64
1999    float64
2000    float64
2001    float64
2002    float64
2003    float64
2004    float64
2005    float64
2006    float64
2007    float64
2008    float64
2009    float64
2010    float64
2011    float64
2012    float64
2013    float64
2014    float64
2015    float64
2016    float64
2017    float64
2018    float64
2019    float64
2020    float64
dtype: object

In [74]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [75]:
X = df.loc[:, df.columns != "2020"]
y = df['2020']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, test_size=0.3, random_state=0)

In [76]:
numerical_transform = Pipeline(steps = [('simple_imputer', SimpleImputer(strategy='median')),
                                                                        ('minmax_scaler', MinMaxScaler())])

In [77]:
preprocessor = ColumnTransformer(transformers = [('num', numerical_transform, X.select_dtypes(exclude="object").columns)])

In [78]:
lrmodel = LinearRegression()

In [79]:
pipe = Pipeline(steps=[('preprocessor', preprocessor), ('lr_model', lrmodel)])

In [80]:
pipe.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').