In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [15]:
df = pd.read_excel('expectativa.xlsx')

In [16]:
df.head()

    Ano  Expectativa
0  1960       54.143
1  1961       54.634
2  1962       55.130
3  1963       55.627
4  1964       56.121

In [17]:
df.isna().sum()

Ano            0
Expectativa    1
dtype: int64

In [18]:
df = df.dropna()

In [19]:
X = df[['Ano']]
y = df[['Expectativa']]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, test_size=0.3, random_state=0)

In [21]:
lrmodel = LinearRegression().fit(X_train, y_train)

In [22]:
preds = lrmodel.predict(X_test)

In [23]:
mean_squared_error(preds, y_test)

0.08119212954672193

In [24]:
lrmodel.coef_

array([[0.36858326]])